body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #00796b;
    color: white;
    padding: 1rem;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 1rem;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

.content {
    padding: 2rem;
}

.section-title {
    font-size: 1.5rem;
    color: #333;
}

.section-content {
    font-size: 1rem;
    color: #666;
    line-height: 1.5;
}

footer {
    position: relative;
}

@media (max-width: 600px) {
    nav ul li {
        display: block;
        margin: 0.5rem 0;
    }

    .content {
        padding: 1rem;
    }

    footer {
        position: relative;
    }
}
.logo {
    max-width: 100%; /* Garante que a imagem não ultrapasse a largura do seu contêiner */
    height: auto; /* Mantém a proporção original da imagem */
    display: block; /* Remove espaços em branco abaixo da imagem */
    margin: 0 auto; /* Centraliza a imagem horizontalmente */
}